.movie-card{
    display: flex;
    flex-direction: column;
    flex: 0 0 150px;
}

.movie-card__top{
    width: 100%;
    height: 250px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
}

.movie-card__rate__icon{
    color: var(--rate-star);
}

.movie-card__rate{
    background-color: var(--rate-back);
    width: fit-content;
    height: fit-content;
    padding: .3rem;
    border-radius: 1rem;
    color: var(--title-secondary);
}
.movie-card__title{
    color: var(--title-primary);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .6rem;
}

.movie-card__info{
    display: flex;
    align-items: center;
    color: var(--text-primary);
    font-size: 1rem;
}
