.hero {
    background-image:
        linear-gradient(var(--background-primary) 0%, 
        var(--background-primary-4) 50%, 
        var(--background-primary) 100%),
        url("../../assets/images/heroBackground.png");
    background-position: center;
    background-size: cover ;
    width: 100%;
    height: 700px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
}
.hero__badge{
    color: var(--badge-text);
    background-color: var(--secondary);
    width: fit-content;
    padding: .2rem 1rem;
    border-radius: 1rem;
}

.hero__title{
    color: var(--title-secondary);
    font-size: 2.5rem;
    font-weight: 900;
}

.hero__description{
    color: var(--text-primary);
    width: 70%;
    font-size: 1rem;
}

.hero__search-bar{
    color: var(--text-primary-fade);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--search-bar-back);
    border: 1px solid var(--search-bar-border);
    border-radius: 1rem;
    padding: .5rem 1rem;
    width: calc(100% - 2rem);
    gap: .5rem;
}

.hero__search-bar input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-primary);
    width: 90%;
    font-size: 1rem;
}

.hero__search-bar input::placeholder{
    color: var(--text-primary);
    opacity: .6;
}

.hero__search-bar input::-webkit-search-cancel-button {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.movie-carousel{
    padding: 1rem;
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
}

#quickSearch {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;

    width: 12rem;
    height: 4rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .75rem;

    overflow: hidden;

    border: 3px solid var(--quick-search-secondary);
    border-radius: 999px;

    background-color: var(--quick-search-back);
    color: var(--quick-search-secondary);
    box-shadow: 0 0 15px var(--quick-search-back-2);
    font-size: 2rem;

    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;

    box-sizing: border-box;

    transition:
        width .35s ease,
        opacity .3s ease,
        transform .3s ease,
        border-color .3s ease,
        color .3s ease,
        box-shadow .3s ease;
}

#quickSearch.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#quickSearch svg {
    flex-shrink: 0;
}

#quickSearch span {
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width:768px){
    .hero__title{
        font-size: 4rem;
    }

    .hero__description{
        font-size: 1rem;
    }

    .hero__search-bar{
        font-size: 1rem;
    }
}

@media (min-width:1024px){
    .hero{
        height: 800px;
    }
    .hero__title{
        font-size: 5rem;
    }

    .hero__description{
        font-size: 1.5rem;
    }
    .hero__search-bar input{
        font-size: 1.5rem;
    }
    .hero__search-bar__icon{
        font-size: 1.5rem;
    }
    #quickSearch{
        width: 4rem;
        color: var(--secondary);
        border: 3px solid transparent;
    }
    #quickSearch:hover {
        width: 12rem;
        color: var(--quick-search-secondary);
        border-color: var(--quick-search-secondary);
        cursor: pointer;
    }

    #quickSearch span {
        white-space: nowrap;

        opacity: 0;
        max-width: 0;

        overflow: hidden;

        transform: translateX(10px);

        transition:
            max-width .35s ease,
            opacity .2s ease .15s,
            transform .35s ease;
    }

    #quickSearch:hover span {
        opacity: 1;
        max-width: 120px;
        transform: translateX(0);
    }
}