.movie-carousel__title{
    color: var(--title-primary);
    font-weight: bold;
    font-size: 1.5rem;
}

.movie-carousel__carousel{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    width: 100%;
    min-width: 0;
}

@media (min-width:1024px){
    .movie-carousel__carousel::-webkit-scrollbar {
        display: block;
        height: 8px;
    }
    
    .movie-carousel__carousel::-webkit-scrollbar-track {
        background: var(--search-bar-back);
        border-radius: 1rem;
    }
    
    .movie-carousel__carousel::-webkit-scrollbar-thumb {
        background: var(--secondary);
        border-radius: 1rem;
    }
    
    .movie-carousel__carousel::-webkit-scrollbar-thumb:hover {
        background: var(--slide-hover);
    }
}
