header{
    margin: 0;
    padding: 0;
}

footer{
    padding: 2rem;
    background:
        radial-gradient(
            circle at top left,
            var(--circle-fade),
            transparent 100%
        ),
        linear-gradient(
            to bottom,
            var(--footer-over-fade) 0%,
            var(--footer-over-fade) 100%
        ),
        #060E20;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}